<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.twtstudio.bbs.bdpqchen.bbs"
          android:versionCode="@string/version_code"
          android:versionName="@string/version_name">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--在这里稍微解决内存不够用的情况-->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bbs"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <provider android:name="android.support.v4.content.FileProvider"
                  android:authorities="9981"
                  android:exported="false"
                  android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <meta-data
            android:name="PGYER_APPID"
            android:value="c138c6031c518af45409b28f81913b7e" >
        </meta-data>

        <meta-data
            android:name="com.twtstudio.bbs.bdpqchen.bbs.commons.support.SimpleGlideModule"
            android:value="GlideModule"/>

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".home.HomeActivity"/>
        <activity
            android:name=".auth.register.RegisterActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".auth.replaceUser.ReplaceUserActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".auth.replaceUser.replacePassword.ReplacePasswordActivity"/>
        <activity
            android:name=".auth.login.LoginActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>

        <activity android:name=".individual.settings.SettingsActivity"/>
        <activity android:name=".individual.updateInfo.UpdateInfoActivity"/>
        <activity android:name=".individual.updatePassword.UpdatePasswordActivity"/>
        <activity android:name=".forum.boards.BoardsActivity"/>
        <activity android:name=".forum.boards.thread.ThreadActivity"/>
        <activity android:name=".individual.message.MessageActivity"/>
        <activity android:name=".individual.collection.CollectionActivity"/>
        <activity android:name=".forum.boards.thread_list.ThreadListActivity"/>
        <activity android:name=".individual.my_release.MyReleaseActivity"/>
        <activity android:name=".auth.renew.identify.IdentifyActivity"/>
        <activity android:name=".auth.renew.appeal.AppealPassportActivity"/>
        <activity android:name=".auth.renew.identify.retrieve.RetrieveActivity"/>
        <activity android:name=".auth.renew.identify.retrieve.reset_password.ResetPasswordActivity"/>
        <activity android:name=".forum.boards.create_thread.CreateThreadActivity"/>
        <activity android:name=".auth.register.old.RegisterOldActivity"/>
        <activity
            android:name=".welcome.IntroActivity"
            android:theme="@style/AppTheme.Intro"
            />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity android:name=".individual.avatar.UpdateAvatarActivity"/>


    </application>

</manifest>